#borderpane{
    -fx-background-image:url("Image/bg4.jpg");
    -fx-background-repeat:stretch;
    -fx-background-size:600 475;
    -fx-background-position: center center;
}
#hBox3{
    -fx-background-color: rgba(108,120,168,0.4);
    -fx-background-radius: 30px;
    -fx-effect: inherit;
}
#hbox_b1{
    -fx-label-padding: 600px;
}
#btnHome{
    -fx-graphic: url("Image/Icones/home-icon.png");
    -fx-background-color:rgba(255,255,255,0.0);
}
#btnNext{
    -fx-graphic: url("Image/Icones/right1_32.png");
    -fx-background-color:rgba(255,255,255,0.0);
}
#btnBack{
    -fx-graphic: url("Image/Icones/left1_32.png");
    -fx-background-color:rgba(255,255,255,0.0);
}
#btnSend{
    -fx-graphic: url("Image/Icones/sendBut.png");
    -fx-background-color:rgba(255,255,255,0.0);
}
#btnReceive{
    -fx-graphic: url("Image/Icones/receiveBtn.png");
    -fx-background-color:rgba(255,255,255,0.0);
}
#SendReceiveB{
    -fx-text-alignment: center;
}
#btnSwitchoff{
    -fx-graphic: url("Image/Icones/switch-turn-off-icon-23.png");
    -fx-background-color:rgba(255,255,255,0.0);
}

/*beginning of the sending form*?

 */
#sendBrowse{
    -fx-background-color:#4297f9;
    -fx-background-radius:10px;
    -fx-font-weight: bold;
}
#sendBtn{
    -fx-background-color: #f9672c;
    -fx-background-radius:10px;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
#lockBtn{
    -fx-graphic: url("Image/Icones/Lock.png");
    -fx-background-color:rgba(255,255,255,0.0);
}
#AcceptedBtn{
    -fx-graphic: url("Image/Icones/Network.png");
    -fx-background-color:rgba(255,255,255,0.0);
}
